torch==0.4.0
gensim==3.4.0
textacy==0.6.1
tensorboardX
cytoolz
pyrouge
wordfreq
allennlp
numpy
scikit-learn
ftfy
nltk
commonregex
pyspellchecker
pandas
seaborn
https://github.com/zfang/fast_abs_rl/raw/master/lib/embeddings-0.0.8-py3-none-any.whl
